<div class="baseball-scorer-home">
  <div class="header">
    <button class="team-action">Neues Team anlegen</button>
    <button class="team-action">Team bearbeiten</button>
    <button class="logout">LogOut</button>
  </div>
  <div class="main-content">
    <h1>BASEBALL SCORER</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
      consectLorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,etur adipiscing elit</p>
    <button class="start-game">Neues Spiel starten</button>
  </div>
</div>
