<div class="main">
  <img src="../../assets/Hitter.png" class="hitter" alt="baseballplayer hitting">
  <div class="container">
    <div class="header">
      <p >Neues Team anlegen</p>
      <p >Team bearbeiten</p>
      <button >LogOut</button>
    </div>
    <div class="content">
      <p>Hardballscoring nach den Regeln des deutschen Baseballverbandes</p>
      <h1>BASEBALL SCORER</h1>
      <p>Score ein Baseballspiel über eine intuitive Eingabemethode. Halte die Übersicht über alle beteiligten Spieler. Automatische Zeiterfassung, Übersicht über das Scoreboard und Erstellung der Statistiken in Echtzeit. Fertig ausgefüllte Scoresheets am Ende des Spioels, die du einfach per Knopfdruck verschickst.</p>
      <button>Neues Spiel starten</button>
    </div>
  </div>
</div>
