.main {
  display: flex;
}
.container {
  font-family: Kanit, sans-serif;
  width: 60vw;
  height: 100vh;
  justify-content: flex-end;
  margin-left: auto;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.header p {
  font-family: inherit;
  margin-right: 50px;
  font-size: 2vh;
  font-weight: 500;
}
.header button {
  font-family: inherit;
  background-color: var(--card-darkbrown);
  color: var(--actiongreen);
  font-size: 2vh;
  padding: 20px 30px;
  border-radius: 20px;
}
.hitter {
  position: absolute;
  height: 120vh;
}
.content {
  font-family: inherit;
  padding: 9vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h1 {
  font-family: inherit;
  color: var(--darkgray);
  font-weight: 800;
  font-size: 4.9vw;
  letter-spacing: -1px;
}
.content p {
  color: var(--card-darkbrown);
  font-weight: 400;
  font-size: 2vh;
  width: 50%;
  padding: 40px;
  line-height: 1.5;
}
.content button {
  font-family: inherit;
  background-color: var(--card-darkbrown);
  color: var(--actiongreen);
  font-size: 3vh;
  border-radius: 20px;
  padding: 30px;
  width: 50%;
}


