.team-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111;
  color: white;
  font-family: 'Arial', sans-serif;
}

.team-header {
  background-color: #1C1C1C;
  padding: 20px;
  text-align: center;
}

.team-logo {
  max-width: 100px; /* Adjust as needed */
  display: block;
  margin: 0 auto;
}

.team-edit-title {
  color: #73F80D;
  margin-top: 10px;
}

.team-name {
  color: #FFF;
  margin-top: 5px;
}

.team-content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.new-player-form, .player-list-section {
  flex-basis: 40%; /* Adjust the width as needed */
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.form-title, .player-list-title {
  color: #73F80D;
  margin-bottom: 20px;
}

.player-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.player-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #222; /* Slight contrast for each list item */
}

.close-button {
  background-color: #73F80D;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute; /* Positioning the button */
  bottom: 150px; /* Spacing from bottom */
  right: 150px; /* Spacing from right */
}

.close-button:hover {
  background-color: #60D309;
}

/* Clear float for the .team-content */
.team-content::after {
  content: "";
  display: table;
  clear: both;
}

.list-header, .player-item {
  display: flex;
}

.list-header {
  background-color: #000; /* Black background for header */
  color: #73f80d; /* Lime green text for header items */
  padding: 10px;
  font-weight: bold;
}

.header-item, .player-number, .player-name, .player-passnummer, .player-actions {
  display: flex;
  justify-content: center; /* Center the items */
  align-items: center;
}

.header-item {
  flex-basis: 35%; /* Adjust flex-basis as needed to fit content */
}

/* The first child (Nr.) and the last child (actions) need specific flex values to match the header layout */
.header-item:first-child, .player-number {
  flex: 0.5;
}

.header-item:last-child, .player-passnummer {
  flex: 1.5;
}

.player-actions {
  flex: 0.5;
  display: flex;
  justify-content: space-around;
}

/* Buttons inside the actions column */
.edit-button, .delete-button {
  background: transparent;
  border: none;
  margin: 0 5px; /* Space between the buttons */
  cursor: pointer;
  color: #73f80d; /* Button color */
}

.player-number { flex: 0.5; }
.player-name { flex: 2; }
.player-passnummer { flex: 2; }
.player-actions { flex: 1; } /* Give action column less space */

.player-item {
  background-color: #222; /* Slight contrast for list items */
  padding: 10px;
  border-bottom: 1px solid #333; /* Separator between items */
}

.player-item:last-child {
  border-bottom: none; /* No border for the last item */
}

.fa-pencil-alt, .fa-trash-alt {
  margin: 0 5px;
}




