<div class="app-container">
  <div class="team-container">
    <div class="team-header">
      <img [src]="logo" alt="Team Logo" class="team-logo">
      <div class="team-titles">
        <h1 class="team-edit-title">TEAM BEARBEITEN</h1>
        <h2 class="team-name">{{ team?.name }}</h2>
        <!-- Button to open the popup -->
        <button class="open-popup-button" (click)="openPopup()">Teaminformationen bearbeiten</button>
      </div>
    </div>
    <div class="team-content">
      <div class="new-player-form">
        <h3 class="form-title">Spieler hinzufügen</h3>
        <app-player-form [team]="team"></app-player-form>
      </div>
      <div class="player-list-section">
        <h3 class="player-list-title">Spieler/innenliste</h3>
        <div class="list-header">
          <span class="header-item">Vorname</span>
          <span class="header-item">Nachname</span>
          <span class="header-item">Passnummer</span>
          <span class="header-item">Aktionen</span>
        </div>
        <ul class="player-list">
          <li *ngFor="let player of players; let i = index" class="player-item">
            <div *ngIf="!player.editing">
              <span class="player-number">{{ player.Vorname }}</span>
              <span class="player-name">{{ player.Nachname }}</span>
              <span class="player-passnummer">{{ player.passnummer }}</span>
              <div class="player-actions">
                <button class="edit-button" (click)="toggleEdit(i)">
                  <i class="fas fa-pencil"></i>
                </button>
                <button class="delete-button" (click)="deletePlayer(i)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
            <form *ngIf="player.editing" class="player-edit-form" (ngSubmit)="submitEdit(i)">
              <input type="text" [(ngModel)]="player.Vorname" name="Vorname" placeholder="Vorname">
              <input type="text" [(ngModel)]="player.Nachname" name="Nachname" placeholder="Nachname">
              <input type="text" [(ngModel)]="player.passnummer" name="passnummer" placeholder="Passnummer">
              <button type="submit">Save</button>
              <button type="button" (click)="toggleEdit(i)">Cancel</button>
            </form>
          </li>
        </ul>
        <button class="close-button" routerLink="/">schließen</button>
      </div>
    </div>

    <!-- Popup Window -->
    <div *ngIf="isPopupVisible" class="popup-window">
      <div class="popup-content">
        <button class="close-popup-button" (click)="closePopup()">
          <i class="fas fa-times"></i>
        </button>
        <app-teaminformationen-bearbeiten [team]="team" (close)="closePopup()"></app-teaminformationen-bearbeiten>
      </div>
    </div>
  </div>
</div>
