<div class="container">
  <div class="scoreboard-container">
    <div class="teams-container">
      <div class="teams"></div>
      <div class="teams">Braunschweig 89ers</div>
      <div class="teams">Bremen Dockers</div>
    </div>
    <div class="inning-container">
      <div class="inning">
        <div class="inning-cell">1</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">2</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">3</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">4</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">5</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">6</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">7</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">8</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
      <div class="inning">
        <div class="inning-cell">9</div>
        <div class="inning-cell"></div>
        <div class="inning-cell"></div>
      </div>
    </div>
    <div class="result-container">
      <div class="result">
        <div class="result-cell">Runs</div>
        <div class="result-cell"></div>
        <div class="result-cell"></div>
      </div>
      <div class="result">
        <div class="result-cell">Hits</div>
        <div class="result-cell"></div>
        <div class="result-cell"></div>
      </div>
      <div class="result">
        <div class="result-cell">Errors</div>
        <div class="result-cell"></div>
        <div class="result-cell"></div>
      </div>
      <div class="result">
        <div class="result-cell">LOB</div>
        <div class="result-cell"></div>
        <div class="result-cell"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="game-info">Top 1 Inning</p>
    <p class="outs">0 Aus</p>
  </div>
</div>
