<div class="container">
  <div class="scoreboard-container">
    <div class="teams-container">
      <div class="teams"></div>
      <button class="teams-btn" (click)="changeInningStatus('isTopInning')">{{ getAwayTeamName() }}</button>
      <button class="teams-btn" (click)="changeInningStatus('isBottomInning')">{{ getHomeTeamName() }}</button>
    </div>

    <div class="inning-container">
      @for (i of [].constructor(9); track i; let count = $index) {
        <div class="inning">
          <div class="inning-cell">{{ count + 1 }}</div>
          @if (gameState!.awayRuns[count] != undefined) {
            <div class="inning-cell">{{ gameState!.awayRuns[count] }}</div>
          } @else {
            <div class="inning-cell">-</div>
          }
          @if (gameState!.homeRuns[count] != undefined) {
            <div class="inning-cell">{{ gameState!.homeRuns[count] }}</div>
          } @else {
            <div class="inning-cell">-</div>
          }
        </div>
      }

<!--      @for (inning of gameState?.awayRuns; track inning) {-->

<!--      }-->

<!--      @for (inning of scoreBoardInnings; track inning.inningNumber) {-->
<!--        <div class="inning">-->

<!--          <div class="inning-cell">{{ inning.inningNumber }}</div>-->
<!--          <div class="inning-cell">{{ inning.guestScore }}</div>-->
<!--          <div class="inning-cell">{{ inning.homeScore }}</div>-->

<!--        </div>-->
<!--      }-->
    </div>

    <div class="result-container">
      <div class="result">
        <div class="result-cell">Runs</div>
        <div class="result-cell">{{ gameState?.awayRunsTotal }}</div>
        <div class="result-cell">{{ gameState?.homeRunsTotal }}</div>
      </div>
      <div class="result">
        <div class="result-cell">Hits</div>
        <div class="result-cell">{{ gameState?.awayHits }}</div>
        <div class="result-cell">{{ gameState?.homeHits }}</div>
      </div>
      <div class="result">
        <div class="result-cell">Errors</div>
        <div class="result-cell">{{ gameState?.awayErrors }}</div>
        <div class="result-cell">{{ gameState?.homeErrors }}</div>
      </div>
      <div class="result">
        <div class="result-cell">LOB</div>
        <div class="result-cell">{{ gameState?.awayLob }}</div>
        <div class="result-cell">{{ gameState?.homeLob }}</div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="game-info">{{ gameState?.team }} {{ gameState?.inning }} Inning</p>
    <p class="outs">{{ gameState?.outs }} Aus</p>
  </div>
</div>
