<div class="ballpark-component-container">
  <div class="ballpark-container">
    @for (player of defencivePlayers; track player) {
      <button class="defensive-player-visitor" [ngClass]="{'selected': selectedPlayers.has(player.position)}" (click)="selectPlayer(player.position)">
        {{ player.jerseyNr }}
        <span class="defensive-name-visitor">{{ player.lastName }}</span>
      </button>
    }
    @if (gameState.batter) {
      <button class="offensive-player-home-batter" [ngClass]="{'button-disabled' : actions.batter == null, 'selected-offensive': base === 0}" (click)="selectBase(0)">
        {{ gameState.batter!.jerseyNr }}
      </button>
    }
    @if (gameState.firstBase) {
      <button class="offensive-player-home-firstbase" [ngClass]="{'button-disabled' : actions.firstBaseRunner == null, 'selected-offensive': base === 1}" (click)="selectBase(1)">
        {{ gameState.firstBase!.jerseyNr }}
      </button>
    }
    @if (gameState.secondBase) {
      <button class="offensive-player-home-secondbase" [ngClass]="{'button-disabled' : actions.secondBaseRunner == null, 'selected-offensive': base === 2}" (click)="selectBase(2)">
        {{ gameState.secondBase!.jerseyNr }}
      </button>
    }
    @if (gameState.thirdBase) {
      <button class="offensive-player-home-thirdbase" [ngClass]="{'button-disabled' : actions.thirdBaseRunner == null, 'selected-offensive': base === 3}" (click)="selectBase(3)">
        {{ gameState.thirdBase!.jerseyNr }}
      </button>
    }

    <img src="assets/ballpark.svg" class="ballpark" alt="missing Ballpark picture"/>
  </div>
</div>
