<div class="ballpark-component-container">
  <div class="ballpark-container">
    <!-- offensive player -->

    <!-- defensive player -->
    @for (player of defensiveHomeTeam; track player.passNumber) {
    <!-- Pitcher = first Child-->
    <button class="defensive-player">
      {{player.jerseyNumber}}
      <span class="defensive-name">{{player.lastname}}</span>
    </button>
    }


    <button class="offensive-player">
      {{visitorTeam.at(0)?.jerseyNumber}}
    </button>

    <!-- Ballpark -->
    <img
      src="assets/ballpark.svg"
      class="ballpark"
      alt="missing Ballpark picture"
    />
  </div>
</div>

