@if (generalData) {
  <div class="container-sign">
    <div class="header">
      <h1>WRAP UP</h1>
    </div>
    <div class="protest">
      <p>Protest</p>
      <input type="checkbox" id="yes" name="protest" value="protest-checked" />
      <label for="yes">Ja</label>
      <input type="checkbox" id="no" name="protest" value="protest-unchecked" />
      <label for="no">Nein</label>
    </div>
    @for (signee of generalData.officials; track signee.passNumber) {
      <div class="scorer">
        <app-wrap-up-sign-container
          [signee]="signee.role"
          [signeeName]="signee.name"
          [signeePassNumber]="signee.passNumber"
        />
      </div>
    }
    <div class="send">
      <fieldset>
        <legend>Abschicken und Spiel beenden</legend>
        <div class="container">
          <div class="name">
            <button class="material-symbols-outlined">edit</button>
            <p>{{ generalData.email }}</p>
          </div>
          <div class="buttons">
            <app-button class="button" text="Speichern" className="btn" />
            <app-button class="button" text="Abschicken" className="action-btn" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
}
