<div class="container-sign">
  <div class="header">
    <h1>WRAP UP</h1>
  </div>
  <div class="protest">
    <p>Protest</p>
    <input type="checkbox" id="yes" name="protest" value="protest-checked"/>
    <label for="yes">Ja</label>
    <input type="checkbox" id="no" name="protest" value="protest-unchecked"/>
    <label for="no">Nein</label>
  </div>
  <div class="scorer">

  </div>
  <div class="umpire"></div>
  <div class="home-manager"></div>
  <div class="away-manager"></div>
  <div class="send"></div>
</div>
