<div class="container">
  <form (ngSubmit)="onSubmit()" class="team-anlegen-form">
    <div class="form-group">
      <label for="Liga_Name">Liga Name</label>
      <select id="Liga_Name" name="Liga_Name" [(ngModel)]="Liga_Name" required>
        <option *ngFor="let liga of ligaOptions$ | async" [value]="liga.id">{{ liga.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Verein_name">Name der Verein</label>
      <select id="Verein_name" name="Verein_name" [(ngModel)]="Verein_name" required>
        <option *ngFor="let club of ClubOptions$ | async" [value]="club.id">{{ club.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Teams_name">Name des Teams</label>
      <input type="text" id="Teams_name" name="Teams_name" [(ngModel)]="Team_name" required>
    </div>
    <div class="form-group file-upload-group">
      <label for="Logo" class="file-upload-label">
        <span>Logo hochladen</span>
        <input type="file" id="Logo" name="Logo" (change)="onFileChange($event)" required>
      </label>
      <span id="file-name">{{ logo ? logo.name : 'Keine Datei ausgewählt' }}</span>
    </div>
    <div class="form-group">
      <label for="Manager">Manager</label>
      <select id="Manager" name="Manager" [(ngModel)]="Manager" required>
        <option *ngFor="let manager of ManagerOptions$ | async" [value]="manager.id">
          {{ manager.firstName }} {{ manager.lastName }}
        </option>
      </select>
    </div>
    <button type="submit" class="submit-button">Team anlegen</button>
  </form>
</div>
