<table>
  <!--  @if (gamePageService.gameIsOn && currentInningStatus === 'isTopInning' || currentInningStatus === 'isBottomInning') {-->

  <tr class="table-head">
    <td></td>
    <td>Nr.</td>
    <td>Name</td>
    <td>Position</td>
    <td></td>
    <td class="th-inning">
      @if (chosenInning > 1) {
        <span class="material-symbols-outlined" (click)="getPrevInning()">arrow_back_ios</span>
      }
      <span class="inning-number">{{chosenInning}}</span>
      @if (chosenInning < gamePageService.numberOfInnings) {
        <span class="material-symbols-outlined" (click)="getNextInning()">arrow_forward_ios</span>
      }
    </td>
    <td></td>
  </tr>


  @if (currentInningStatus === "isTopInning") {
    @for (player of visitorTeam; track player) {
      <tbody class="player-visitor">
      <tr>
        <td class="icon">
          <span class="material-symbols-outlined">sync</span>
        </td>
        <td>{{ player.jerseyNumber }}</td>
        <td>{{ player.firstname }} {{ player.lastname }}</td>
        <td>{{ numberToStringMap[player.position] }}</td>
        <td class="batting-order">{{ player.battingOrder }}</td>
        <td class="diamond">
          <app-diamond [content]="gamePageService.getGuestDiamondsByPlayer(player.lastname, chosenInning)"></app-diamond>
        </td>
        <td class="icon">
          <span class="material-symbols-outlined">edit_square</span>
        </td>
      </tr>
      </tbody>
    }
  }
  @if (currentInningStatus === "isBottomInning") {
    @for (player of homeTeam; track player) {
      <tbody class="player-home">
      <tr>
        <td class="icon">
          <span class="material-symbols-outlined">sync</span>
        </td>
        <td>{{ player.jerseyNumber }}</td>
        <td>{{ player.firstname }} {{ player.lastname }}</td>
        <td>{{ numberToStringMap[player.position] }}</td>
        <td class="batting-order">{{ player.battingOrder }}</td>
        <td class="diamond">
          <app-diamond [content]="gamePageService.getHomeDiamondsByPlayer(player.lastname, chosenInning)" ></app-diamond>
        </td>
        <td class="icon">
          <span class="material-symbols-outlined">edit_square</span>
        </td>
      </tr>
      </tbody>
    }
  }
  <!--  }-->
</table>
