table {
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  }
.table-head {
  font-weight: 400;
  font-size: 0.7em;
}
.th-inning {
  display: flex;
  justify-content: space-evenly;
}
.inning-number {
  font-size: 1.8em;
}
.player-visitor {
  color: var(--visitoryellow);
}
.player-home {
  color: var(--homeblue);
}
.batting-order {
  color: var(--actiongreen);
}
.icon {
  color: var(--lightgray);
}
.diamond {
  color: var(--visitoryellow);
}
table tr:active {
  background-color: var(--visitoryellow);
  color: var(--card-darkbrown);
}
table tr:hover {
  background-color: var(--card-lightbrown);
}
