table {
  padding: 10px;
  width: 100%;
  height: auto; /* Adjust to auto to fit the content height */
  border: none;
  border-collapse: separate;
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  justify-content: flex-start; /* Align items to the start of the column */
  align-content: stretch; /* Ensure content stretches to fill the column width */
}

.table-head {
  font-weight: 400;
  font-size: 0.7em;
  height: 3vh;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

tbody {
  display: flex;
  width: 100%;
  flex-direction: column; /* Ensure tbody also uses column layout */
}

tr {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

td {
  flex: 1; /* Make table cells flexible to fit within the row */
  text-align: center;
  align-content: center;
}

.material-symbols-outlined {
  cursor: pointer;
}

.inning-number {
  font-size: 1.8em;
  text-align: center;
}

.player-visitor {
  color: var(--visitoryellow);
}

.arrow {
  padding-left: 10px;
  padding-right: 10px;
}

.th-inning {
  align-content: center;
  align-items: center;
  text-align: center;
}

.player-home {
  color: var(--homeblue);
}

.batting-order {
  color: var(--actiongreen);
}

.icon {
  color: var(--lightgray);
}

.diamond {
  color: var(--visitoryellow);
  display: flex;
  justify-content: center;
}

table tr:active {
  background-color: var(--visitoryellow);
  color: var(--card-darkbrown);
}

table tr:hover {
  background-color: var(--card-lightbrown);
}
