<div class="main">
  <img src="../../../assets/Hitter.png" class="hitter" alt="baseballplayer hitting">
  <div class="container">
    <app-nav-bar></app-nav-bar>
    <div class="content">
      <p>Hardballscoring nach den Regeln des deutschen Baseballverbandes</p>
      <h1>BASEBALL SCORER</h1>
      <p>Score ein Baseballspiel über eine intuitive Eingabemethode. Halte die Übersicht über alle beteiligten Spieler.
        Das System bietet Übersicht über das Scoreboard, automatische Zeiterfassung und Erstellung der Statistiken in
        Echtzeit. Am Ende des Spiels verschickst du fertig ausgefüllte Scoresheets einfach per Knopfdruck.</p>
      <button routerLink="/game">Neues Spiel starten</button>
    </div>
  </div>
</div>
