.frame {
  border: 3px solid var(--visitoryellow);
  color: var(--visitoryellow);
  width: 65px;
  height: 65px;
  font-family: "Comic Neue", "Comic Sans MS", cursive;
}
.frame.top-inning {
  border-color: var(--homeblue);
}
.frame.visitor-inning {
  border-color: var(--visitoryellow);
}
.central {
  font-size: 7vh;
}
.corner {
  font-size: 40px;
}
