.frame-visitor {
  border: 3px solid var(--visitoryellow);
  color: var(--visitoryellow);
  stroke: var(--visitoryellow);
  fill: var(--visitoryellow);
  width: 49px;
  height: 49px;
  font-family: "Comic Neue", "Comic Sans MS", cursive;
}

.frame-home {
  border: 3px solid var(--homeblue);
  color: var(--homeblue);
  stroke: var(--homeblue);
  fill: var(--homeblue);
  width: 49px;
  height: 49px;
  font-family: "Comic Neue", "Comic Sans MS", cursive;
}

.central {
  font-size: 6vh;
}

.corner {
  font-size: 40px;
}
