.header {
  font-family: Kanit, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.header a {
  font-family: inherit;
  margin-right: 50px;
  font-size: 2vh;
  font-weight: 500;
  text-decoration: none;
  color: var(--card-darkbrown);
}

.header a:hover {
  color: var(--lightgray);
  cursor: pointer;
}

.header button {
  font-family: inherit;
  background-color: var(--card-darkbrown);
  color: var(--actiongreen);
  font-size: 2vh;
  padding: 20px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.header button:hover {
  background-color: var(--actiongreen);
  color: var(--card-darkbrown);
}
