/* In player-form.component.css */
.player-form {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px; /* Changed from margin-right to ensure it doesn't push content horizontally */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px); /* Subtract padding to prevent double scrollbars */
  box-sizing: border-box;
}

.player-form h3 {
  color: #73f80d;
  margin-bottom: 20px;
  flex-shrink: 0; /* Prevents the title from shrinking */
}

.team-selection {
  margin-bottom: 20px;
  flex-shrink: 0; /* Prevents the selection from shrinking */
}

.team-selection label {
  color: #aaa;
  display: block;
  margin-bottom: 5px;
}

.team-selection select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #000;
  color: #fff;
}

.player-list {
  flex-grow: 1; /* Takes up all available space */
  overflow-y: auto; /* Scrollable when content overflows */
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444;
  color: #fff;
}

th {
  background-color: #444;
  color: #73f80d;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:hover {
  background-color: #3a3a3a;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 1px solid #73f80d;
  border-radius: 3px;
  cursor: pointer;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #73f80d;
  color: #111;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0; /* Prevents the button from shrinking */
}

button:hover {
  background-color: #60d309;
}

button:disabled {
  background-color: #444;
  color: #777;
  cursor: not-allowed;
}
