<div class="input-container">
  <div class="button-box-container">
    <div class="button-box">
        @if (showBackButton) {
          <button (click)="handleBack()">Back</button>
        }
        @for (button of parseButtons(currentButtons); track button.button) {
          <button (click)="handleButtonClick(button)">{{ button.button }}</button>
        }
        @empty {
          <p>No buttons</p>
        }
    </div>
  </div>

  <div class="confirmation-box">
    <button (click)="undoSelection()" class="undo">UNDO</button>
    <button (click)="onConfirmation()" class="ok">OK</button>
  </div>
</div>

