<div class="input-container">
  <div class="button-box-container">
    <div class="button-box">
      @if (showBackButton) {
        <button (click)="handleBack()" class="selectButton">Back</button>
      }
      @for (button of parseButtons(currentButtons); track button.button) {
        <button (click)="handleButtonClick(button)" class="selectButton">
          {{ button.button }}
        </button>
      } @empty {
        <p>select player</p>
      }
    </div>
  </div>

  <div class="confirmation-box">
    <button (click)="undoSelection()" class="undo">UNDO</button>
    <button (click)="onConfirmation()" class="ok">OK</button>
  </div>
</div>
