<div class="container">

  <div class="info-box">
    <div class="breakline">
      <div class="title">on Deck</div>
      <div class="line"></div>
    </div>
    @if (gameState != null && gameState.onDeck != null) {
      <div class="textfield-visitor">
        {{ generateText(gameState.onDeck) }}
      </div>
    } @else {
      <div class="textfield"></div>
    }
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">at Bat</div>
      <div class="line"></div>
    </div>
    @if (gameState != null && gameState.batter != null) {
      <div class="textfield-visitor">
        {{ generateText(gameState.batter) }}
      </div>
    } @else {
      <div class="textfield"></div>
    }
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on First</div>
      <div class="line"></div>
    </div>
    @if (gameState != null && gameState.firstBase != null) {
      <div class="textfield-visitor">
        {{ generateText(gameState.firstBase) }}
      </div>
    } @else {
      <div class="textfield"></div>
    }
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on Second</div>
      <div class="line"></div>
    </div>
    @if (gameState != null && gameState.secondBase != null) {
      <div class="textfield-visitor">
        {{ generateText(gameState.secondBase) }}
      </div>
    } @else {
      <div class="textfield"></div>
    }
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on Third</div>
      <div class="line"></div>
    </div>
    @if (gameState != null  && gameState.thirdBase != null) {
      <div class="textfield-visitor">
        {{ generateText(gameState.thirdBase) }}
      </div>
    } @else {
      <div class="textfield"></div>
    }
  </div>

  <div class="fieldset-container">
    <div class="fieldset-box">
      <fieldset>
          <legend class="fieldset-visitor">
            {{ generateText(getSelectedPlayer()) }}
          </legend>
          <p>{{ generateCurrentPlayerStatus() }}</p>
        </fieldset>
    </div>
  </div>

</div>
