<div class="container">
  <div class="info-box">
    <div class="breakline">
      <div class="title">on Deck </div>
      <div class="line"></div>
    </div>
    <div class="textfield">
      {{ onBaseList.at(8)?.jerseyNumber }}
      {{ onBaseList.at(8)?.firstname }}
      {{ onBaseList.at(8)?.lastname }}
    </div>
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">at Bat </div>
      <div class="line"></div>
    </div>
    <div class="textfield">
      {{ onBaseList.at(0)?.jerseyNumber }}
      {{ onBaseList.at(0)?.firstname }}
      {{ onBaseList.at(0)?.lastname }}
    </div>
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on First</div>
      <div class="line"></div>
    </div>
    <div class="textfield"></div>
  </div><div class="info-box">
  <div class="breakline">
    <div class="title">on Second</div>
    <div class="line"></div>
  </div>
  <div class="textfield"></div>
</div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on Third</div>
      <div class="line"></div>
    </div>
    <div class="textfield"></div>
  </div>

  <div class="fieldset-container">
    <div class="fieldset-box">
      <fieldset class="fieldset"><legend>
        {{ onBaseList.at(0)?.jerseyNumber }}
        {{ onBaseList.at(0)?.firstname }}
        {{ onBaseList.at(0)?.lastname }}
      </legend></fieldset>
    </div>
</div>

