

<div class="container">
  @if (gamePageService.gameIsOn) {
  <div class="info-box">
    <div class="breakline">
      <div class="title">on Deck </div>
      <div class="line"></div>
    </div>
    @if (currentInningStatus === "isTopInning") {
    <div class="textfield-visitor">
      {{getGuestPlayerName(1)}}
    </div>
    }
    @if (currentInningStatus === "isBottomInning") {
      <div class="textfield-home">
        {{getHomePlayerName(1)}}
      </div>
    }
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">at Bat </div>
      <div class="line"></div>
    </div>
    @if (currentInningStatus === "isTopInning") {
    <div class="textfield-visitor">
      {{getGuestPlayerName(0)}}
    </div>
    }
    @if (currentInningStatus === "isBottomInning") {
      <div class="textfield-home">
        {{getHomePlayerName(0)}}
      </div>
    }
  </div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on First</div>
      <div class="line"></div>
    </div>
    <div class="textfield"></div>
  </div><div class="info-box">
  <div class="breakline">
    <div class="title">on Second</div>
    <div class="line"></div>
  </div>
  <div class="textfield"></div>
</div>
  <div class="info-box">
    <div class="breakline">
      <div class="title">on Third</div>
      <div class="line"></div>
    </div>
    <div class="textfield"></div>
  </div>

  <div class="fieldset-container">
    <div class="fieldset-box">
      @if (currentInningStatus === "isTopInning") {
      <fieldset ><legend class="fieldset-visitor">
        {{getGuestPlayerName(0)}}
      </legend></fieldset>
      }
      @if (currentInningStatus === "isBottomInning") {
        <fieldset ><legend class="fieldset-home">
          {{ getHomePlayerName(0)}}
        </legend></fieldset>
      }

    </div>

</div>
  }
