<div class="line-up-container">
  <h1>LINE UP</h1>
  <div class="container">
    <div class="teams-header border">
      <div class="tabs">
        <div class="the_heim" >
          <button class="team_home" [ngClass]="{'active': activeTab === 'HEIM'}" (click)="switchTab('HEIM')">HEIM</button>
          <p class="the_gast">Bremen Dockers</p>
        </div>
        <div class="the_gast" >
          <button class="team away" [ngClass]="{'active': activeTab === 'GAST'}" (click)="switchTab('GAST')">GAST</button>
          <p class="the_heim">Braunschweig 89ers</p>
        </div>
      </div>
      <div [ngClass]="{'team_heim': true, 'active': activeTab === 'HEIM'}">
        <div [class.hidden]="activeTab !== 'HEIM'" id="HEIM" class="team home">
          <form [formGroup]="lineUpForm" (ngSubmit)="onSubmit()">
            <div formArrayName="homeLineUp" class="line-up-table">
              <table>
                <tr>
                  <th>Nr.</th>
                  <th>Name</th>
                  <th>Passnummer</th>
                  <th>Position</th>
                </tr>
                <tr *ngFor="let player of visitorTeam; let i = index" [formGroupName]="i">
                <!--<tr *ngFor="let player of homeLineUp.controls; let i = index" [formGroupName]="i">-->
                  <td>{{ i + 1 }}</td>
                  <td>
                    <select formControlName="playerId" class="full-width">
                      <option *ngFor="let player of homePlayers" [value]="player.id">{{ player.firstName }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" placeholder="Passnummer" formControlName="passNumber" class="full-width">
                  </td>
                  <td>
                    <select formControlName="position" class="full-width">
                      <option value="" disabled hidden selected>Wählen...</option>
                      <option *ngFor="let position of positions" [value]="position.id">{{ position.description }}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div class="action-button">
            <button type="submit">Zum Spiel</button>
            </div>
          </form>
        </div>
      </div>
      <div [ngClass]="{'team_away': true, 'active': activeTab === 'GAST'}">
        <div [class.hidden]="activeTab !== 'GAST'" id="GAST" class="team away">
          <form [formGroup]="lineUpForm" (ngSubmit)="onSubmit()">
            <div formArrayName="awayLineUp" class="line-up-table">
              <table>
                <tr>
                  <th>Nr.</th>
                  <th>Name</th>
                  <th>Passnummer</th>
                  <th>Position</th>
                </tr>
                <!--<tr *ngFor="let player of awayLineUp.controls; let i = index" [formGroupName]="i"> -->
                <tr *ngFor="let player of visitorTeam; let i = index" [formGroupName]="i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <select formControlName="playerId" class="full-width">
                      <option *ngFor="let player of awayPlayers" [value]="player.id">{{ player.firstName }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" placeholder="Passnummer" formControlName="passNumber" class="full-width">
                  </td>
                  <td>
                    <select formControlName="position" class="full-width">
                      <option value="" disabled hidden selected>Wählen...</option>
                      <option *ngFor="let position of positions" [value]="position.id">{{ position.description }}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div class="action-button">
              <button type="submit">Zum Spiel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
