<div class="line-up-container">
  <h1>LINE UP</h1>
  <div class="container border">
    <div class="teams-header">
      <div class="tabs">
        <button class="tab" [ngClass]="{'active': activeTab === 'HEIM'}" (click)="switchTab('HEIM')">HEIM</button>
        <button class="tab" [ngClass]="{'active': activeTab === 'GAST'}" (click)="switchTab('GAST')">GAST</button>
      </div>
      <div [ngClass]="{'team_heim': true, 'active': activeTab === 'HEIM'}">
        <div [class.hidden]="activeTab !== 'HEIM'" id="HEIM" class="team home">
          <p>Bremen Dockers</p>
          <form [formGroup]="lineUpForm" (ngSubmit)="onSubmit()">
            <div formArrayName="homeLineUp" class="line-up-table">
              <table>
                <tr>
                  <th>Nr.</th>
                  <th>Name</th>
                  <th>Passnummer</th>
                  <th>Position</th>
                </tr>
                <tr *ngFor="let player of homeLineUp.controls; let i = index" [formGroupName]="i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <select formControlName="playerId">
                      <option *ngFor="let player of homePlayers" [value]="player.id">{{ player.firstName }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" placeholder="Passnummer" formControlName="passNumber">
                  </td>
                  <td>
                    <select formControlName="position">
                      <option value="" disabled hidden selected>Wählen...</option>
                      <option *ngFor="let position of positions" [value]="position.id">{{ position.description }}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div [ngClass]="{'team_away': true, 'active': activeTab === 'GAST'}">
        <div [class.hidden]="activeTab !== 'GAST'" id="GAST" class="team away">
          <p>Braunschweig 89ers</p>
          <form [formGroup]="lineUpForm" (ngSubmit)="onSubmit()">
            <div formArrayName="awayLineUp" class="line-up-table">
              <table>
                <tr>
                  <th>Nr.</th>
                  <th>Name</th>
                  <th>Passnummer</th>
                  <th>Position</th>
                </tr>
                <tr *ngFor="let player of awayLineUp.controls; let i = index" [formGroupName]="i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <select formControlName="playerId">
                      <option *ngFor="let player of awayPlayers" [value]="player.id">{{ player.firstName }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" placeholder="Passnummer" formControlName="passNumber">
                  </td>
                  <td>
                    <select formControlName="position">
                      <option value="" disabled hidden selected>Wählen...</option>
                      <option *ngFor="let position of positions" [value]="position.id">{{ position.description }}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
