<div class="line-up-container">
  <h1>LINE UP</h1>
  <div class="container">
    <div class="teams-header border">
      <div class="tabs">
        <div class="the_heim" >
          <button class="team_home" [ngClass]="{'active': activeTab === 'HEIM'}" (click)="switchTab('HEIM')">HEIM</button>
        </div>
        <div class="the_gast" >
          <button class="team away" [ngClass]="{'active': activeTab === 'GAST'}" (click)="switchTab('GAST')">GAST</button>
        </div>
      </div>
        <div [ngClass]="{'team_heim': true, 'active': activeTab === 'HEIM'}">
          <div [class.hidden]="activeTab !== 'HEIM'" id="HEIM" class="team home">
          <p>Bremen Dockers</p>
          <div class="line-up-table">
        <table>
          <tr>
            <th>Nr.</th>
            <th>Name</th>
            <th>Passnummer</th>
            <th>Position</th>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <input type="text" placeholder="Name" aria-label="Number"
                     matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>

            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>2</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <input type="text" placeholder="Name" aria-label="Number"
                     matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>4</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <input type="text" placeholder="Name" aria-label="Number"
                     matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>7</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>8</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>9</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
          <tr>
            <td>10</td>
            <td><input type="text" placeholder="Name" aria-label="Number"
                       matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
            </td>
            <td><input type="text" placeholder="Passnummer"></td>
            <td><select>
              <option value="">Wählen...</option>
              <option value="pitcher">Pitcher</option>
              <option value="catcher">Catcher</option>
            </select></td>
          </tr>
        </table>
          </div>
        </div>
        </div>
      <div [ngClass]="{'team_away': true, 'active': activeTab === 'GAST'}">
        <div [class.hidden]="activeTab !== 'GAST'" id="GAST" class="team away">
          <p>Braunschweig 89ers</p>
          <div class="line-up-table">
        <table>
          <tr>
            <th>Nr.</th>
            <th>Name</th>
            <th>Passnummer</th>
            <th>Position</th>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
              <input type="text" placeholder="Name" aria-label="Number"
                     matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>

        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>2</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>3</td>
        <td>
        <input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>4</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>5</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          <input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>7</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>8</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>9</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
      <tr>
        <td>10</td>
        <td><input type="text" placeholder="Name" aria-label="Number"
                   matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"></mat-autocomplete>
        </td>
        <td><input type="text" placeholder="Passnummer"></td>
        <td><select>
          <option value="">Wählen...</option>
          <option value="pitcher">Pitcher</option>
          <option value="catcher">Catcher</option>
        </select></td>
      </tr>
    </table>
  </div>
  <div class="action-button">
    <button>Zum Spiel</button>
  </div>
</div>
