:root {
  --bg-gradient: linear-gradient(#b4ff00, #97d600);
  --actiongreen: #b6ff07;
  --visitoryellow: #ffff9f;
  --homeblue: #85d4fe;
  --darkgray: #707070;
  --lightgray: #9fa89a;
  --card-darkgray: #111110;
  --card-darkbrown: #1c1e1a;
  --card-lightbrown: #20251d;
}


html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Kanit, sans-serif;
  background-image: var(--bg-gradient);
}

