.btn {
  width: 100%;
  padding:1vh;
  border-radius: 10px;
  background-color: var(--card-darkbrown);
  border: var(--actiongreen) solid 2px;
  color: var(--actiongreen);
  margin: 2px;
}
.btn:hover {
  background-color: var(--actiongreen);
  color: var(--card-darkbrown);
}
.action-btn {
  width: 100%;
  padding: 1vh;
  border-radius: 10px;
  background-color: var(--actiongreen);
  border: var(--actiongreen) solid 2px;
  color: var(--card-lightbrown);
  margin: 2px;
}
.action-btn:hover {
  background-color: var(--card-lightbrown);
  color: var(--actiongreen);
}
