/* Popup Window */
.team-info-popup {
  padding: 20px;
  background-color: #1C1C1C;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px; /* Increased width */
  max-width: 90%; /* Ensure it doesn't exceed the viewport width */
  margin: 0 auto; /* Center align */
}

.team-info-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #73F80D;
}

.form-group select,
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 16px;
}

.file-upload {
  position: relative;
}

.form-group file-upload {
  display: flex;
  align-items: center;
}

.file-upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #73F80D;
  color: #111;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload-label:hover {
  background-color: #60D309;
}

.file-upload input[type="file"] {
  display: none;
}

#file-name {
  display: block;
  margin-top: 10px;
  color: #aaa;
}


.save-button {
  padding: 10px 20px;
  background-color: #73F80D;
  color: #111;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.save-button i {
  margin-right: 5px;
}

.save-button:hover {
  background-color: #60D309;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.icons {
  margin-right: 7px;
}

input {
  width: 95%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 16px;
}
